
/*
    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

*{
    font-family: 'Open Sans', sans-serif;
}

.container-large{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

/*
    HEADER
*/

.top-header ul{
    list-style: none;
}

/* TOP HEADER */

.top-header{
    display: flex;
}

.top-header > *{
    width: 50%;
    display: flex;
}

/* BOTTOM HEADER */

.bottom-header > .background{
    background-color: lightskyblue;
}

header > .bottom-header .my_row{
    display: flex;
}

header > .bottom-header .my_row > .my_col_1-3{
    width: 40%;
}

header > .bottom-header .my_row > .my_col_2-3{
    width: 60%;
}

/*
    DEBUG
*/

.debug .top-header{
    min-height: 80px;
    border: 1px dashed red;
}

.debug .top-header > *{
    border: 0.5px solid black;
}

.debug .background{
    min-height: 600px;
}

.debug .bottom-header .jumbotron{
    border: 1px dashed black;
}

.debug .bottom-header .my_row{
    min-height: 300px;
    border: 1px dashed red;
}

.debug .bottom-header .my_row > .my_col_1-3{
    background-color: blue;
}

.debug .bottom-header .my_row > .my_col_2-3{
    background-color: red;
}