
/*
    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

*{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.container-large{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.my_col_40{
    width: 40%;
}

.my_col_60{
    width: 60%;
}

.my_col_30{
    width: 30%;
}

.my_col_70{
    width: 70%;
}

.footer_col{
    width: calc(90% / 5);
}

.card{
    width: calc(90% / 3);
}

.top-header a{
    text-decoration: none;
    color: black;
}

.button{
   display: inline-block;
   padding: 3px 10px;
   background-color: #0061ff;
   border: 1px solid #0061ff; 
}

.large{
    padding: 10px 10px; 
 }

a.button{
    color: white;
    text-decoration: none;
}


h3{
    font-size: 1.8em;
}

h2{
    font-size: 1.5em;
}

.button-card{
    text-align: center;
}

.button-card > a{
    color: white;
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #0061ff;
    width: 100%;
}

.button-card > .white{
    color: black;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    width: 100%;
}

.button.large.trasparent{
   background-color: transparent;
   border: 1px solid black;
   color: black;
}

.square_1-2{
    width: 50%;
    height: 50%;
}

.bordeaux{
    background-color: #61082b;
}

.lightgreen{
    background-color: #a2d39b;
    border: 20px solid #d1e9cd;
}

.orangered{
    background-color: #ff1c1c;
}

.skyblue{
    background-color: #0093ce;
}

.red{
    background-color: #d5001f;
}

.lightblue{
    background-color: #b4d0e7;
}

.darkblue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}
/*
    HEADER
*/


/* TOP HEADER */

.top-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}

.top-header > *{
    width: 50%;
    align-items: center;
    padding: 14px 5px;
}

.left  ul > li, .right  ul > li, .left  ul > li > a, .right  ul > li > a{
    display: inline-block;
}

.left  ul a, .left > .img_container, .right  ul a{
    padding: 6px 20px;
}

.top-header ul{
    list-style: none;
}

.top-header .left > .img_container > img{
    height: 20px;
}

.top-header .right{
    justify-content: flex-end;
}


/* BOTTOM HEADER */

.bottom-header{
    margin-top: 60px;
}

.bottom-header > .background{
    background-color: #b4d0e7;
    padding-bottom: 15px;
}

header > .bottom-header .jumbotron{
    padding-top: 70px;
}

.bottom-header .jumbotron h1{
    font-size: 3.9em;
    font-weight: 800;
}

.bottom-header .my_col_40{
    padding: 0 20px 10px 0;
    position: relative;
}

.bottom-header .my_col_40 > .button{
    margin: 30px 0; 
}

.bottom-header .my_col_40 > i{
    position: absolute;
    left: 0;
    bottom: 75px;
    font-size: 2.8em;
    font-weight: bolder;
}

.my_col_60 > img{
    width: 100%;
}

.debug .bottom-header .my_row{
    position: relative;
    top: 80px;
    margin-top: -35px;
}


/*
    MAIN 
*/

main{
    padding-top: 150px;
}

main h2{
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 50px;
}

main .input-box input{
    margin: 3px;
}

main .input-box > span > input, main .input-box > span > label{
    cursor: pointer;
}

main .input-box span:last-child{
    margin-left: 30px;
}

main .my_row{
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

main .my_row > .card{
    border: 1px solid lightgray;
}

.card-top{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.card > .card-bottom{
    padding: 40px 20px;
}


.card > .card-bottom > h3, .card > .card-bottom > h4{
    margin-bottom: 20px;
}

.card > .card-bottom > .price-info{
    color: gray;
}

.card > .card-bottom > ul{
    --fa-li-margin: 1.5em;
    margin-top: 40px;
}

.card .card-bottom > ul > li{
    display: inline-block;
    margin-bottom: 20px;
}

.card .card-bottom > .button-card{
    margin-top: 40px;
    margin-bottom: 20px;
}

.card .card-bottom > hr{
    width: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid lightgrey;
}

.card-bottom > .list-info > h4{
    margin-bottom: 20px;
}

.card .card-bottom > .list-info .fa-ul{
    --fa-li-margin: 1.5em;
}

.card .card-bottom > .list-info li{
    margin-bottom: 20px;
}

.card .card-bottom > .list-info li i{
    color: #0061ff;
}

.horizontal_card{
    width: 100%;
    margin-top: 70px;
    border: 1px solid lightgrey;
}

.horizontal_card > .card-bottom{
    padding: 30px;
}

.horizontal_card > .card-bottom h3{
    margin-bottom: 20px;
}

.horizontal_card > .card-bottom h4{
    margin-bottom: 80px;
}

.horizontal_card > .card-bottom > .my_col_70{
    padding-top: 20px;
}

main .my_row.big{
    margin: 180px 0;
}

main .my_row > .my_col_40{
    padding: 50px 30px 0 30px;
}

main .my_row > .my_col_40 > h3{
    margin-bottom: 20px;
}

main .my_row > .my_col_40 > p{
    margin-bottom: 30px;
}

.card_box{
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 180px;
}

.card_box > .card{
    margin-bottom: 50px;
}

.card_box > .card > img{
    width: 100%;
}

.card_box > .card > h3{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.my_row_square{
    height: calc(100vw / 3);
    margin-top: 150px;
}

.my_row_square > *{
    width: calc(100% / 3);
    flex-wrap: wrap;
}

.my_row_square .square_1-2{
    justify-content: center;
    align-items: center;
}

.my_row_square .square_1-2 > img{
    width: 50%;
    filter: invert(100%);
}

.my_row_square > .corp_info{
    background-color: #f5f5f5;
    padding: 50px;
}

.my_row_square > .corp_info > img{
    width: 50%;
}

.my_row_square > .corp_info > p{
    margin: 20px 0;
}

main > .background{
    background-color: #b4d0e7;
    margin-bottom: 180px;
}

.my_row.small{
    margin: 0;
    padding: 100px 0;
}

.my_row.small > *{
    align-items: center;
    justify-content: center;
}

.my_row.small h2{
    margin: 0;
    color: #61082b;
}

.row-box{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 180px;
}

.row-box > div:nth-child(2){
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.row-box > *{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.row-box h4{
    font-size: 1.1em;
}

.row-box a{
    color: black;
    text-decoration: none;
    font-size: small;
    padding: 5px;
}

/*
    FOOTER
*/

footer{
    background-color: black;
    padding-top: 100px;
}

footer *{
    color: white;
}

footer .footer-top{
    padding-bottom: 100px;
}

.footer-top > .my_row{
    justify-content: space-between;
}

.footer-top h3{
    margin-bottom: 20px;
}

.footer-top ul{
    list-style: none;
}

.footer-top ul a{
    text-decoration: none;
}

.footer-top ul > li{
    padding-bottom: 15px;
}

.footer-bottom > span{
    display: inline-block;
    padding: 20px 10px;
    border-top: 1px solid white;
}

.footer-bottom > span > a{
    font-size: 0.8em;
}

.footer-bottom > span > i{
    padding: 0 5px;
}













/*
    DEBUG
*/

/* .footer-top .my_col_1-6{
    border: 1px dashed white;
} */

/* .footer-top > .my_row{
    min-height: 300px;
    border: 1px dashed white;
} */

/* .debug .row-box{
    min-height: 400px;
} */

/* .my_row.small{
    min-height: 500px;
} */

/* .my_row_square > div > *{
    border: 1px dashed blue;
} */

/* .my_row_square > *{
    border: 1px dashed black;
} */

/* .my_row_square{
    border: 1px dashed red;
} */

/* .card_box > .card{
    border: 1px dashed black;
    margin-bottom: 50px;
} */

/* .card_box{
    min-height: 800px;
    border: 1px dashed red;
} */

/* .debug .horizontal_card .my_col_70, .debug .horizontal_card .my_col_30{
    border: 1px dashed red;
} */

/* .horizontal_card .card-bottom{
    min-height: 300px;
} */

/* .debug .horizontal_card{
    min-height: 300px;
    border: 1px dashed black;
} */


/* .debug .card > .card-top{
    border-bottom: 1px dashed black;
} */

/*  .debug > main .my_row{
    border: 1px dashed black;
    min-height: 800px; 
} */

/* .debug > main .card{
    border: 1px dashed red;
} */

/* .debug .top-header{
    min-height: 80px;
    border: 1px dashed red;
}

.debug .top-header > *{
    border: 0.5px solid black;
} */

/* .debug .background{
    min-height: 600px;
} */

/* .debug .bottom-header .jumbotron{
    border: 1px dashed black;
} */

/* .debug .bottom-header .my_row{
    /* min-height: 300px;
    border: 1px dashed red; 
} */

/* .debug .bottom-header .my_row > .my_col_40{
    background-color: blue;
} */

/* .debug .bottom-header .my_row > .my_col_60{
    background-color: red;
} */